@charset "utf-08";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
    --font-title:'Poppins', sans-serif;
    --font-text: 'Roboto', sans-serif;
  }

  body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
  }

/*------------------HEADER--------------------*/

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--dark-bg);
  }

  header nav {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 50px 200px 20px 200px;
  }

  #links {
    display: flex;
    justify-content: space-evenly;
    
  }

  nav a {
    text-decoration: none;
    color: var(--light-purple);
    font-family: var(--font-text);
  }

  #input {
    width: 300px;
    height: 44px;
  }

  header div {
    display: flex;
    flex: 2;
    justify-content: space-around;
    padding: 50px 100px;
  }

  .container {
    display: flex;
    padding: 0;
    margin-top: 0;
  }

    .title-text {
     display: flex;
     flex-direction: column;
     padding: 0 200px 0 200px;
     
    }

      .header-title {
        width: 550px;
        color: var(--button-bg);
        font-family: var(--font-title);
        font-size: 36px;
        margin-top: -28px;
      }

      .header-text {
       width: 450px;
       color: var(--light-purple);
       font-family: var(--font-text);  
       font-size: 18px;
       text-align: justify;
       line-height: 1.5;
       
      }

      .container button {
        display: flex;
        align-items: center;
        background-color: var(--dark-bg);
        color: var(--button-bg);
        font-family: var(--font-title);
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 100px;
        width: 130px;
      }

      button:hover {
        cursor: pointer;
      }

    div img {
      flex: 1;
      margin-right: 100px;
      
    }


/*--------------------------------------------*/

  main {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 70px 200px;
  }

  .top {
    display: flex;
    flex: 2;
    margin-bottom: 40px;
  }



  .bottom {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  footer {
    display: flex;
    justify-content: center;
  }